# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: inprocess-indexers
contracts:
  - name: ERC20Minter
    handler: src/EventHandlers.ts
    events:
      - event: MintComment(address indexed sender, address indexed tokenContract, uint256 indexed tokenId, uint256 quantity, string comment)
        field_selection:
          transaction_fields:
            - hash
      - event: ERC20RewardsDeposit(address indexed createReferral, address indexed mintReferral, address indexed firstMinter, address zora, address collection, address currency, uint256 tokenId, uint256 createReferralReward, uint256 mintReferralReward, uint256 firstMinterReward, uint256 zoraReward)
        field_selection:
          transaction_fields:
            - hash

  - name: CreatorFactory
    handler: src/EventHandlers.ts
    events:
      - event: SetupNewContract(address indexed newContract, address indexed creator, address indexed defaultAdmin, string contractURI, string name, (uint32, uint32, address) defaultRoyaltyConfiguration)
        field_selection:  
          transaction_fields:
            - hash

  - name: ERC1155
    handler: src/EventHandlers.ts
    events:
      - event: UpdatedPermissions(uint256 indexed tokenId, address indexed user, uint256 indexed permissions)
        field_selection:
          transaction_fields:
            - hash

networks:
  - id: 84532
    start_block: 23208989
    contracts:
      - name: ERC20Minter
        address:
          - 0x4538d7a07227d21597fb851a14057f00d15b4d5e
      - name: CreatorFactory
        address:
          - 0x6832A997D8616707C7b68721D6E9332E77da7F6C
      - name: ERC1155

  - id: 8453
    start_block: 27712746
    contracts:
      - name: ERC20Minter
        address:
          - 0xE27d9Dc88dAB82ACa3ebC49895c663C6a0CfA014
      - name: CreatorFactory
        address:
          - 0x540C18B7f99b3b599c6FeB99964498931c211858
      - name: ERC1155

unordered_multichain_mode: true
preload_handlers: true
